<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gncausreport.brief</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/limsungmin/Library/CloudStorage/Dropbox/96. dropbox_vsstudio/gncausreport/scripts/run_topics.sh</string>
    </array>

    <!-- 주 1회: 월(1) 08:00. (주 2회로 늘리려면 목(4) dict 주석 해제) -->
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict>
        <!-- <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>8</integer><key>Minute</key><integer>0</integer></dict> -->
    </array>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/limsungmin/Library/CloudStorage/Dropbox/96. dropbox_vsstudio/gncausreport/logs/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/limsungmin/Library/CloudStorage/Dropbox/96. dropbox_vsstudio/gncausreport/logs/launchd.err.log</string>
</dict>
</plist>
